.media-list {

  --media-list-padding: 0.25rem;

  max-width: calc(100% + calc(var(--media-list-padding) * 2));
  width: calc(100% + calc(var(--media-list-padding) * 2));
  flex-direction: row;
  margin: 0 calc(var(--media-list-padding) * -1);
  position: relative;
  flex-wrap: wrap;
  display: flex;

  &-item {

    backface-visibility: hidden;

    transition: box-shadow var(--transition-speed) var(--transition-easing),
                opacity var(--transition-speed) var(--transition-easing),
                z-index var(--transition-speed) var(--transition-easing);
                
    box-shadow: 0 0 0 0 var(--shadow--light);

    max-width: 25%;
    flex: 1 0 25%;

    padding: 0.25rem var(--media-list-padding) 0;
    margin-bottom: -4rem;
    z-index: 0;

    &-content {

      flex-direction: column;
      display: flex;

    }

    &-details {

      transition: transform var(--transition-speed) var(--transition-easing),
                  opacity var(--transition-speed) var(--transition-easing);
                  
      background-color: var(--background--secondary);
      transform-origin : 50% 0%;
      transform: scale(1);
      width: 100%;
      opacity: 0;

      &-content {

        transition: transform var(--transition-speed) var(--transition-easing);
        padding: 4rem 1rem 2rem;
        transform: scale(1);
        flex-direction: row;
        flex-wrap: wrap;
        display: flex;
        width: 100%;

      }

      &-extra {

        pointer-events: none;
        width: 100%;

        tag {
  
          color: var(--text--primary);
          display: inline-block;

          &:not(:last-of-type)::after {

            content: '•';
            padding: 0 0.5rem;

          }

          genre {

            &:not(:last-of-type)::after {

              content: ', ';
  
            }

          }
  
        }

      }

      &-info,
      &-summary {

        width: 100%;
      
      }

      &-summary {
        
        max-height: calc(var(--p-line-height) * 3);
        height: calc(var(--p-line-height) * 3);
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3;
        display: -webkit-box;
        overflow: hidden;
        margin: 1rem 0 0 0;

      }

    }

    &-banner {

      transition: transform var(--transition-speed) var(--transition-easing);
      transform-origin : 50% 100%;
      transform: scale(1);
      position: relative;
      display: block;
      height: auto;
      width: 100%;
      z-index: 1;

      &-poster,
      &-title {

        transition: transform var(--transition-speed) var(--transition-easing);
        transform-origin : 50% 100%;
        transform: scale(1);

      }

      &-poster {

        box-shadow: 0 2px 10px 0 var(--black-20);
        margin: 3rem 2rem -2rem 2rem;
        position: relative;
        width: 150px;
        z-index: 2;

      }

      &-title {

        font-family: 'Graphik-Regular', Helvetica, Arial, sans-serif;
        padding: 0 2rem 1.5rem calc(150px + 3rem);
        color: var(--white);
        position: absolute;
        font-weight: 400;
        max-width: 100%;
        width: 100%;
        z-index: 2;
        margin: 0;
        bottom: 0;
        right: 0;
        left: 0;

      }

      &-accent {

        opacity: .65;
        z-index: 1;

      }

      &-background-wrapper,
      &-accent {

        position: absolute;
        overflow: hidden;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;

      }

      &-background {

        background-color: var(--headline-color);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        filter: blur(1rem);
        position: absolute;
        bottom: -1rem;
        right: -1rem;
        left: -1rem;
        top: -1rem;

      }

    }

    &:hover {

      backface-visibility: hidden;

      box-shadow: 0 24px 88px -8px var(--shadow--dark);
      z-index: 100;

      .media-list-item-banner,
      .media-list-item-details {

        backface-visibility: hidden;

        transform: scale(var(--media-hover-scale));
        
      }

      .media-list-item-details {

        opacity: 1;

      }

      .media-list-item-banner-poster,
      .media-list-item-banner-title,
      .media-list-item-details-content {

        transform: scale(var(--media-hover-scale-offset));

      }

    }

  }

}