body
  header(class='header')
    div(class='container')
      div(class='header-container')

        div(class='header-item')
          a(href='/' class='header-link')
              include ../svg/brand-hulu.svg

        div(class='header-menu')
          div(class='header-item')
            button(type='button' class='header-link')
              include ../svg/nav-browse.svg
              span(class='header-label') Discover
          div(class='header-dropdown')
            div(class='container')
              div(class='header-dropdown-container')
                div(class='header-dropdown-items')
                  ul(class='header-dropdown-browse-hubs')
                    //- li= JSON.stringify(Plex.Movies)
                    li(class='header-dropdown-browse-hubs-item')
                      a(href='/new/' class='header-dropdown-item') Recently Added
                    li(class='header-dropdown-browse-hubs-item')
                      a(href='/collections/' class='header-dropdown-item') Collections
                    li(class='header-dropdown-browse-hubs-item')
                      a(href='/shows/' class='header-dropdown-item') TV Shows
                    li(class='header-dropdown-browse-hubs-item')
                      a(href='/movies/' class='header-dropdown-item') Movies

                  ul(class='header-dropdown-browse-genres')
                    li(class='header-dropdown-browse-genres-item')
                      a(href='/genres/action/' class='header-dropdown-item') Action
                    li(class='header-dropdown-browse-genres-item')
                      a(href='/genres/adventure/' class='header-dropdown-item') Adventure
                    li(class='header-dropdown-browse-genres-item')
                      a(href='/genres/anime/' class='header-dropdown-item') Anime
            
        div(class='header-item')
          a(href='/on-deck/' class='header-link')
            include ../svg/nav-deck.svg
            span(class='header-label') On Deck
