head
  title= Title
  meta(name='viewport' content='width=device-width,initial-scale=1')
  meta(name="description" content=`${Description}`)
  meta(name='author' content=`${Author}`)
  link(rel='stylesheet' href='/vendor/node_modules/video.js/dist/video-js.min.css')
  link(rel='stylesheet' href='/vendor/node_modules/slick-carousel/slick/slick.css')
  link(rel='stylesheet' href='/dist/css/themes/hulu.css')
  link(rel='stylesheet' href='/dist/css/styles.css')
  script(src='/vendor/node_modules/jquery/dist/jquery.min.js')
  script(src='/vendor/node_modules/slick-carousel/slick/slick.min.js')
  script(src='/vendor/node_modules/video.js/dist/video.min.js')
  script(src='/dist/js/scripts.js')
body(onload='SD.Initilize()')
  include header.pug