sidebar
  navigation
    h3 Browse SinDistrict
    a(href='/discover/') Discover
    a(href='/tv-movies/') TV & Movies
    a(href='/popular/') Popular Media
    a(href='/watch-later/') Watch Later
    h3 Categories
    each Genre, Slug in Library.Genres
      a(class='genre' href=`/discover/genres/${Slug}/`)= Genre