html
  include ../includes/meta.pug
  
  sindistrict

    style.
      :root { --media-accent-color: #{Movie.Color}; }
    link(rel='stylesheet' href='/dist/css/pages/watch.css')
    
    main(class='watch')

      div(class='container')
        div(class='media-container')
          div(class='media-splash')
            div(class='media-splash-banner' style=`background-image:url('${Movie.Banner.Large}')`)
          div(class='media-splash-content')
            img(class='media-splash-content-poster' src=`${Movie.Poster}`)
            div(class='media-splash-content-details')
              h1= Movie.title
              div(class='media-details-snippet')
                span= Movie.contentRating
                span
                  each Genre, GenreKey in Movie.Genre
                    = GenreKey < Object.keys(Movie.Genre).length - 1 ? `${Genre.tag}, ` : `${Genre.tag}`
                span= Movie.year
              p= Movie.summary
              div(class='media-splash-content-actions')
                button(class='play-media')
                  include ../svg/play-button.svg
                  span Watch Movie

      div(class='container')
        div(class='media-content')
          nav(class='media-content-tabs')
            button(class='active') Related Movies
            button Details

        p= JSON.stringify(Movie)

        //- video(class='video-js' controls='' preload='auto' poster=`${Movie.Banner}` data-setup='{}')
        //-   each Media, MediaKey in Movie.Media
        //-     each Part, PartKey in Media.Part
        //-       -var MediaSource = Part.key
        //-       -var MediaType = Part.container
        //-       -var VideoSource = `http://${Plex.hostname}:${Plex.port}${MediaSource}?protocol=hls&X-Plex-Token=${PlexToken}`
        //-       source(src=`${VideoSource}` type=`video/${MediaType}`)