html
  include ../includes/meta.pug
  
  sindistrict

    style.
      :root { --media-accent-color: #{Show.Color}; }
    link(rel='stylesheet' href='/dist/css/pages/watch.css')
    
    main(class='watch')

      div(class='container')
        div(class='media-container')
          div(class='media-splash')
            div(class='media-splash-banner' style=`background-image:url('${Show.Banner.Large}')`)
          div(class='media-splash-content')
            img(class='media-splash-content-poster' src=`${Show.Poster}`)
            div(class='media-splash-content-details')
              h1= Show.title
              div(class='media-details-snippet')
                span= Show.contentRating
                span
                  each Genre, GenreKey in Show.Genre
                    = GenreKey < Object.keys(Show.Genre).length - 1 ? `${Genre.tag}, ` : `${Genre.tag}`
                span= Show.year
              p= Show.summary
              div(class='media-splash-content-actions')
                button(class='play-media')
                  include ../svg/play-button.svg
                  span Watch Show

      div(class='container')
        div(class='media-content')
          nav(class='media-content-tabs')
            button(class='active') Episodes
            button Related TV Shows
            button Details

        p= JSON.stringify(Show)

        //- video(class='video-js' controls='' preload='auto' poster=`${Show.Banner}` data-setup='{}')
        //-   each Media, MediaKey in Show.Media
        //-     each Part, PartKey in Media.Part
        //-       -var MediaSource = Part.key
        //-       -var MediaType = Part.container
        //-       -var VideoSource = `http://${Plex.hostname}:${Plex.port}${MediaSource}?protocol=hls&X-Plex-Token=${PlexToken}`
        //-       source(src=`${VideoSource}` type=`video/${MediaType}`)