html
  include includes/meta.pug

  sindistrict

    link(rel='stylesheet' href='/dist/css/pages/collections.css')
    
    main(class='collections')
      div(class='container')
        each CollectionLibrary, CollectionTitle in Library
          h1= CollectionTitle
          div(class='WindowedList slick-init' style='--WindowedList-items: 4;')

            each Media, ID in CollectionLibrary
              div(class='WindowedListItem')
                div(class='SimpleSliderCollection__item')
                  div(class='GenericTile')
                    div(class='HoverSetup GenericTile__container')
                      button(class='HoverSetup__button' aria-label=`${Media.title}`)
                      div
                        div(class='HoverPopout')
                        a(href=`/movies/${ID}/` class='GenericTileThumbnail cu-generictile-thumbnail GenericTileThumbnail--with-hover')
                          div
                            div(class='GenericTileThumbnail__spacer')
                            div(class='GenericTileThumbnail__image-container' style=`--thumbnail-color: ${Media.Color}`)
                              img(class='GenericTileThumbnail__image' src=`${Media.Banner.Small}`)
                            div(class='GenericTileThumbnail__scrim')
                            div(class='GenericTileThumbnail__rollover')
                              div(class='GenericTileThumbnail__image-container')
                              div(class='GenericTileThumbnail__controls-container')
                                div(class='GenericTileThumbnail__controls')

                        div(class='GenericTileContent')

                          img(class='GenericTileContent__poster' src=`${Media.Poster}`)

                          h3(class='GenericTileContent__title')= Media.title

                          div(class='GenericTileContent__details')
                          
                            ul(class='GenericTileContent__details-item GenericTileContent__metadata')
                              li(class='GenericTileContent__meta')= Media.contentRating
                              li(class='GenericTileContent__meta')
                                each Genre, GenreKey in Media.Genre
                                  = GenreKey < Object.keys(Media.Genre).length - 1 ? `${Genre.tag}, ` : `${Genre.tag}`
                              li(class='GenericTileContent__meta')= Media.year

                            p(class='GenericTileContent__details-item GenericTileContent__description')= Media.summary
      //- p= JSON.stringify(Library)