html
  include includes/meta.pug

  sindistrict

    link(rel='stylesheet' href='/dist/css/pages/discover.css')
    
    main(class='discover')
      div(class='container')
        h1= Collection.Title
        nav(class='media-filter-alpha')
          each Letter in ['#', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
            a(href=`#${Letter}`)= Letter
        div(class='WindowedList' style='--WindowedList-items: 4;')

          each Media, ID in Library
            div(class='WindowedListItem')
              div(class='SimpleSliderCollection__item')
                div(class='GenericTile')
                  div(class='HoverSetup GenericTile__container')
                    button(class='HoverSetup__button' aria-label=`${Media.title}`)
                    div
                      div(class='HoverPopout')
                      a(href=`/${Collection.Slug}/${ID}/` class='GenericTileThumbnail cu-generictile-thumbnail GenericTileThumbnail--with-hover')
                        div
                          div(class='GenericTileThumbnail__spacer')
                          div(class='GenericTileThumbnail__image-container' style=`--thumbnail-color: ${Media.Color}`)
                            img(class='GenericTileThumbnail__image' src=`${Media.Banner.Small}`)
                          div(class='GenericTileThumbnail__scrim')
                          div(class='GenericTileThumbnail__rollover')
                            div(class='GenericTileThumbnail__image-container')
                            div(class='GenericTileThumbnail__controls-container')
                              div(class='GenericTileThumbnail__controls')

                      div(class='GenericTileContent')

                        img(class='GenericTileContent__poster' src=`${Media.Poster}`)

                        h3(class='GenericTileContent__title')= Media.title

                        div(class='GenericTileContent__details')
                        
                          ul(class='GenericTileContent__details-item GenericTileContent__metadata')
                            li(class='GenericTileContent__meta')= Media.contentRating
                            li(class='GenericTileContent__meta')
                              each Genre, GenreKey in Media.Genre
                                = GenreKey < Object.keys(Media.Genre).length - 1 ? `${Genre.tag}, ` : `${Genre.tag}`
                            li(class='GenericTileContent__meta')= Media.year

                          p(class='GenericTileContent__details-item GenericTileContent__description')= Media.summary