html
  head
    title= title
  body
    h1= message
    form(method="post" action="/")
      label.form-group Email Address:
        input(type="text" name="username" required="required")
      label.form-group Password:
        input(type="password" name="password" required="required")
      label.form-group.hidden
        input(type="hidden" name="method" value="login")
      label.form-group
        button(type="submit") Sign In
      if error
        p= error