main.discover {

  padding-right: calc(var(--main-padding) * 0.5);

  .media-filter-alpha {

    width: calc(calc(var(--main-padding) * 1.5) - 4rem);
    bottom: calc(var(--main-padding) * 0.5);
    top: var(--header-height);
    justify-content: center;
    flex-direction: column;
    margin: 0 2rem;
    position: fixed;
    display: flex;
    right: 0;

    > a {

      font-family: 'Graphik-Medium', Helvetica, Arial, sans-serif;
      text-transform: uppercase;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      font-weight: 500;
      flex: 1 0 auto;
      display: flex;
      width: 100%;

    }

  }

}