main.watch {

  .media-container {

    position: relative;
    width: 100%;

    &::before {

      content: '';

      background-image: linear-gradient(5deg, rgb(0, 0, 0) 0%, transparent 50%), radial-gradient(at right top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 20%);
      position: absolute;
      opacity: 0.1;
      bottom: -2px;
      right: -2px;
      left: -2px;
      z-index: 1;
      top: -2px;

    }

    .media-splash {

      min-height: calc(90vh - calc(var(--header-height) * 1.5));
      background-color: var(--media-accent-color);
      position: relative;
      width: 100%;

      &::before,
      &::after {

        content: '';

      }

      &::before {

        padding-bottom: 38%;
        display: block;
        width: 100%;

      }

      &::after {

        background-image: linear-gradient(60deg, var(--media-accent-color) 400px, transparent 100%);
        position: absolute;
        bottom: 0;
        left: 400px;
        right: 0;
        top: 0;

      }

      &-banner {

        background-position: 0px 0px;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        left: 400px;
        bottom: 0;
        right: 0;
        top: 0;

      }

      &-content {

        padding: 0 0 var(--main-padding) var(--main-padding);
        grid-template-areas: 'poster details';
        grid-template-columns: 300px auto;
        grid-template-rows: auto;
        position: absolute;
        display: grid;
        z-index: 10;
        right: 40%;
        bottom: 0;
        left: 0;

        &-poster {

          box-shadow: 0 2px 10px 0 var(--black-20);
          margin-bottom: calc(var(--main-padding) * -2);
          grid-area: poster;

        }

        &-details {

          padding-left: var(--main-padding);
          justify-content: flex-end;
          flex-direction: column;
          grid-area: details;
          display: flex;

          h1, p, .media-details-snippet {

            color: var(--white);

          }

          h1 {

            letter-spacing: 0px;
            margin: 10px 0 16px;

          }

          p, .media-details-snippet {

            line-height: 24px;

          }

          p {

            margin: 8px 0 0 0;
            font-size: 16px;

          }

        }

        &-actions {

          margin-top: 32px;

          .play-media {

            align-items: center;
            display: flex;
            height: 56px;

            > svg {

              transition: transform var(--transition-speed) var(--transition-easing);
              transform: scale(1);
              height: 56px;

            }

            > span {

              font-family: 'Graphik-Medium', Helvetica, Arial, sans-serif;
              letter-spacing: var(--base-letter-spacing);
              font-size: var(--base-font-size);
              text-transform: uppercase;
              color: var(--white);
              margin-left: 16px;
              font-weight: 500;

            }

            &:hover {

              > svg {

                transform: scale(1.1);

              }

            }

          }

        }

      }

    }

  }

  .media-content {

    padding-top: var(--main-padding);
    position: relative;
    width: 100%;

    &-tabs {

      border-bottom: 1px solid var(--accent--light);
      width: 100%;

      > button {

        border-bottom: 4px solid transparent;
        margin-right: 40px;
        line-height: 72px;
        height: 72px;

        &.active {

          border-bottom-color: var(--media-accent-color);

        }

      }

    }

  }

}