:root {

  --base-font-size: 14px;
  --base-font-weight: 400;
  --base-letter-spacing: -0.5px;
  --base-font-family: 'Graphik-Regular', Helvetica, Arial, sans-serif;

  --transition-speed: .2365s;
  --transition-easing: cubic-bezier(0.71, 0.51, 0, 1.07);

  --main-padding: 4rem;

  --header-height: 72px;

  --media-hover-scale: 1.1;
  --media-hover-scale-offset: calc(1/var(--media-hover-scale));

  --h1-font-size: 48px;
  --h1-font-weight: 300;
  --h1-font-family: 'Graphik-Light', Helvetica, Arial, sans-serif;
  --h1-line-height: calc(var(--h1-font-size) * 1.166666666666667);
  --h1-letter-spacing: var(--base-letter-spacing);
  --h1-color: var(--text--primary);

  --h2-font-size: 36px;
  --h2-font-weight: 300;
  --h2-font-family: 'Graphik-Light', Helvetica, Arial, sans-serif;
  --h2-line-height: calc(var(--h2-font-size) * 1.166666666666667);
  --h2-letter-spacing: var(--base-letter-spacing);
  --h2-color: var(--text--primary);

  --h3-font-size: 20px;
  --h3-font-weight: 300;
  --h3-font-family: 'Graphik-Light', Helvetica, Arial, sans-serif;
  --h3-line-height: calc(var(--h3-font-size) * 1.15);
  --h3-letter-spacing: var(--base-letter-spacing);
  --h3-color: var(--text--primary);

  --p-font-size: var(--base-font-size);
  --p-font-weight: 400;
  --p-font-family: 'Graphik-Regular', Helvetica, Arial, sans-serif;
  --p-line-height: calc(var(--base-font-size) * 1.5);
  --p-letter-spacing: 0px;
  --p-color: var(--text--secondary);

}