* {

    // backface-visibility: hidden;
    box-sizing: border-box;
    outline: none;
    
}

html,
body {

    background-color: var(--background--primary);
    letter-spacing: var(--base-letter-spacing);
    color: var(--text--secondary);
    font-family: var(--base-font-family);
    font-weight: var(--base-font-weight);
    font-size: var(--base-font-size);
    padding: 0;
    margin: 0;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
    font-smooth: auto;

    font-stretch: normal;

}

html {

    overflow-x: hidden;

}

.container {

    width: calc(100% - calc(var(--main-padding) * 2));
    box-sizing: content-box;
    margin-right: auto;
    margin-left: auto;
    display: block;

}

@each $headline in (h1, h2, h3, h4, h5, h6, p) {

    #{$headline},
    .#{$headline} {

        letter-spacing: var(--#{$headline}-letter-spacing);
        font-family: var(--#{$headline}-font-family);
        line-height: var(--#{$headline}-line-height);
        font-weight: var(--#{$headline}-font-weight);
        font-size: var(--#{$headline}-font-size);
        color: var(--#{$headline}-color);

    }

}

a {

    text-decoration: none;
    color: inherit;

}

img {

    max-width: 100%;
    display: block;

}

.slick-list {

    max-width: 100% !important;
    overflow: visible;

}

.slick-nav {

    background-color: var(--background--icon);
    transition: opacity .1s ease, box-shadow .1s ease,top .2s ease;
    top: calc(50% - 48px);
    position: absolute;
    // border-radius: 50%;
    z-index: 101;
    height: 48px;
    width: 48px;
    padding: 0;
    opacity: 1;

    svg {

        height: 100%;
        width: 100%;

    }

    &-prev {

        box-shadow: -2px 4px 10px 0 var(--shadow--dark);
        transform: translateY(-50%) translateX(-50%);
        left: 0;

    }

    &-next {

        box-shadow: 2px 4px 10px 0 var(--shadow--dark);
        transform: translateY(-50%) translateX(50%);
        right: 0;

    }

}

.media-details-snippet {

    color: var(--text--primary);

    > span {

        font-family: 'Graphik-Medium', Helvetica, Arial, sans-serif;
        font-size: var(--base-font-size);
        white-space: nowrap;
        font-stretch: 100%;
        letter-spacing: 0;
        font-weight: 500;
        display: inline;
        color: inherit;

        &:not(:last-of-type)::after {

            content: "\A0\A0\2022\A0\A0";

        }

    }

}